body {
    text-align: center;
  }
  
  span {
    display: inline-block;
  }
  .picture-header {
    max-width: 100%;
    height: auto;
  }
  
  .panda-image {
    width: 100px;
    height: 100px;
  }
  
  * {
    background-color: red; 
   }
  /* #pics span {
    border: 1px solid black;
  } */
  